<div id="login" class="userAuth">
    <h1>Login</h1>
    <table id>
        <tr>
            <th>Username</th>
            <th><input type="text" id="username" name="username" placeholder="enter your username..."></th>
        </tr>
        <tr>
            <th>Password</th>
            <th><input type="text" id="password" name="password" placeholder="enter your password..."></th>
        </tr>
        <tr>
            <th><button class="btn" type="submit" value="Submit" onclick="login_user()">Submit</button></th>
        </tr>
        <tr>
            <th> Or <a onclick="signUpPage()">sign up</a> instead.</th>
        </tr>
    </table>
</div>

<script>
    // show login, hide signup
    function signUpPage() {
        document.getElementById("signup").style.display = "";
        document.getElementById("login").style.display = "none";
    }

    // Replace with domain and api call of backend
    url = ""

    function login_user() {
        const body = {
            username: document.getElementById("username"),
            password: document.getElementById("password")
        };

        const request_options = {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            credentials: "include",
            body: JSON.stringify(body),
            headers: {
                "content-type" : "application/json"
            }
        };

        fetch(url, request_options).then(response => {
            if (response.status != 200) {
                alert("Error ocurred: Check username and password");
                return;
            }

            alert("Logged in");
            console.log(response);
            window.location.href = "/";
        })


    }
</script>
