<div id="login" class="userAuth">
    <h1>Login</h1>
    <table id>
        <tr>
            <th>Username</th>
            <th><input type="text" id="username" name="username" placeholder="enter your username..."></th>
        </tr>
        <tr>
            <th>Password</th>
            <th><input type="text" id="password" name="password" placeholder="enter your password..."></th>
        </tr>
        <tr>
            <th><button class="btn" type="submit" value="Submit" onclick="login_user()">Submit</button></th>
        </tr>
        <tr>
            <th> Or <a onclick="signUpPage()">sign up</a> instead.</th>
        </tr>
    </table>
</div>

<script>
    // show login, hide signup
    function signUpPage() {
        document.getElementById("signup").style.display = "";
        document.getElementById("login").style.display = "none";
    }

    // Replace with domain and api call of backend
    url = ""

function login_user() {
  const email = document.getElementById("username").value;
  const password = document.getElementById("password").value;

  const url = "https://abopsc-backend.dontntntnt.de/authenticate/";
  
  const options = {
    method: 'POST', 
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'include', // include, *same-origin, omit
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        "email" : email,
        "password" : password
    })
  };


  // Fetch JWT
  fetch(url, options)
  .then(response => {
      // trap error response from Web API
      if (!response.ok) {
          const errorMsg = 'Login error: ' + response.status;
          console.log(errorMsg);
          return; 
      }
      // Success!!!
      // Redirect to Database location

      var requestOptions = {
        method: 'GET',
        redirect: 'follow'
      };
      
  })

}
</script>
